mixin icon-mono(name)
  svg(class="icon icon-" + name)&attributes(attributes)
    use(xlink:href="images/sprites/sprite-mono#" + name)

mixin icon-multi(name)
  svg(class="icon icon-" + name)&attributes(attributes)
    use(xlink:href="images/sprites/sprite-multi#" + name)
